<div class="landing-wrapper">
    <div class="heading-card">
        <div class="col" id="landing-info-heading">
            <h1>Welcome to FidZulu</h1>
            <h3>Discover a world of limitless possibilities right at your fingertips with Fidzulu, your go-to e-commerce destination for all things fabulous and fantastic! We're more than just an online store; we're your trusted partner in shopping, bringing you an unparalleled shopping experience that's as delightful as it is convenient.
                <br>
            </h3>
            <button id="shopnow" routerLink="catalogue">Shop now!</button>
        </div>
        <div class="col" id="phone-bg">
        </div>
    </div>
    <div class="content">
        <div class="col" id="things-img-holder">
            <img id="things-img" src="assets\things.png" alt="">
        </div>
        <div class="col" id="catalogue-desc">
            <h1>Bikes, Books and more!!</h1>
            <h3>Ready to start shopping? Dive into our extensive collection now, and let Fidzulu be your go-to destination for all your shopping needs.</h3>
        </div>
    </div>
</div>