.landing-wrapper { 
    background-color: #FFF0F5;
}
.heading-card {
    display: flex;
    margin: 20px auto;
    max-width: 90%;
    background-color: #FFD1DA;
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    flex-direction: row;
    color: #8a4445;
}

.heading-card h3 {
    margin-top:20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
}

#landing-info-heading {
    padding: 30px;
    margin: 40px 0;
}

#things-img {
    margin-left: 25%;
    width: 50%;
}

#catalogue-desc h3 {
    width: 60%;
    text-align: justify;
}

#shopnow {
    background-color: #8a4445;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-size: large;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

#phone-bg {
    background-image: url("src\assets\phone.png");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: right 80%;
}

.col {
    width: 50%;
    flex-direction: column;
}

.heading-card p {
    width: 100%;
    text-align: justify;
}

@media (max-width: 1100px) {
    .heading-card h3 {
        margin-top:20px;
        margin-bottom: 20px;
    }
    #catalogue-desc h1 {
        margin-left: 40px
    }
    #phone-bg {
        display: none;
    }
    #landing-info-heading {
        width: 100%;
    }
    #extra-info {
        display: none;
    }
    #things-img-holder {
        display: none;
    }
    #catalogue-desc {
        width: 100%;
    }
    #catalogue-desc h3 {
        margin: 10px auto;
        text-align: justify;
        width: 90%;
    }
}

@media (max-width: 1300px) {
    #phone-bg {
        background-size: 160%;
    }
}