<div class="landing-wrapper">
    <div class="heading-card">
        <div class="col" id="landing-info-heading">
            <h1>Welcome to FidZulu</h1>
            <p>Discover a world of limitless possibilities right at your fingertips with Fidzulu, your go-to e-commerce destination for all things fabulous and fantastic! We're more than just an online store; we're your trusted partner in shopping, bringing you an unparalleled shopping experience that's as delightful as it is convenient.
                <br><br>
                At Fidzulu, we understand that shopping isn't just a necessity; it's a passion. That's why we've curated a vast and diverse collection of products to cater to your every whim and desire. Whether you're looking for fashion-forward clothing, cutting-edge gadgets, exquisite jewelry, or trendy home decor, we've got it all, and more! Our extensive range ensures that there's something for everyone, so you can explore, discover, and shop to your heart's content.
            </p>
            <button id="shopnow">Shop now!</button>
        </div>
        <div class="col" id="phone-bg">
        </div>
    </div>
</div>