@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Poppins&display=swap');
@import "node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";
@import "node_modules/primeicons/primeicons.css";

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Gabarito', cursive;
    font-size: 50px;
}
